.ProductosList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 3rem;
}

.Producto{
    background-color: #921c2d;
    padding: 1rem;
    border: none;
    border-radius: 3px;
    display: grid;
    gap: .5rem;
    text-align: center;
    justify-content: center;
}

.contador{
    display: grid;
    width: 100%;
    gap: .5rem;
    justify-items: center;
}

.controles{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #f6f6f4;
    justify-content: center;
    align-items: center;
}

.pControles{
    color: #f6f6f4;
}

.seccionProducto{
    width: 100%;
    display: grid;
    gap: .5rem;
}