* {
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #f6f6f4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151415;
}

header {
  width: 100%;
  display: grid;
  justify-content: center;
}

.paginaError{
  text-align: center;
  margin-top: 20%;
}

.textoError{
  color: #921c2d;
}